a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navLink {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #4c5b2f;
}

.navLink:hover {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ab9bbc;
}

.navLink:focus {
  color: #e26969;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
}

.homePageParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitleText {
  font-family: "blenny", sans-serif;
  font-weight: 900;
  font-size: 7rem;
  color: #4c5b2f00;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 1px #4c5b2f;
  text-shadow: 30px 30px #4c5b2f;
  margin-top: 0;
  margin-bottom: 1rem;
}

.homeCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.homeCategoryText {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #e26969;
  text-align: center;
}

.productListParentDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
  gap: 8rem;
}

.sortSideMenu {
  display: flex;
  flex-direction: column;
}

.sortByAllButton,
.sortByDairyButton,
.sortByProduceButton,
.sortByBakeryButton,
.sortBySpecialtyButton {
  border: none;
  background-color: white;
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: right;
  color: #4c5b2f;
}

.sortByDairyButton:hover,
.sortByDairyButton:focus {
  color: #ab9bbc;
  cursor: pointer;
}

.sortByBakeryButton:hover,
.sortByBakeryButton:focus {
  color: #ddb537;
  cursor: pointer;
}

.sortByProduceButton:hover,
.sortByProduceButton:focus {
  color: #4c5b2fa3;
  cursor: pointer;
}

.sortBySpecialtyButton:hover,
.sortBySpecialtyButton:focus {
  color: #e26969;
  cursor: pointer;
}

.sortByAllButton:hover {
  cursor: pointer;
}

#productsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.productInList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  border: 2px solid #4c5b2fa3;
  padding: 1rem;
}

.productNameProductList {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  color: #4c5b2fa3;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.productListImg {
  width: 250px;
}

.productListHeader {
  font-family: "blenny", sans-serif;
  font-weight: 900;
  color: #4c5b2f;
  font-size: 3rem;
}

.productNameProductList:hover,
.newProduct:hover {
  color: #4c5b2f;
}

.singleProductParentDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.singleProductInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.productNameSingleProduct {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #4c5b2fa3;
}

.productDescription {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4c5b2fa3;
}

.productPrice {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #4c5b2fa3;
}

.productTypeSpecialty {
  background-color: #4c5b2fa3;
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  padding: 1rem;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.qtyButton {
  border: 2px solid #4c5b2fa3;
  border-radius: 50px;
  width: 5rem;
  height: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.qtyButtonPlusMinus {
  border: none;
  color: #4c5b2fa3;
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  background-color: #ffffff;
}

.qtyText {
  color: #4c5b2fa3;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.addToCartButton {
  border: none;
  border-radius: 50px;
  background-color: #4c5b2fa3;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 10rem;
}

.qtyButtonPlusMinus:hover {
  cursor: pointer;
}

.addToCartButton:hover {
  cursor: pointer;
  background-color: #4c5b2f;
}

.loginFormParentDiv {
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.formLabel {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  color: #ab9bbc;
}

.formButton {
  border: none;
  border-radius: 50px;
  background-color: #ab9bbc;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 7rem;
}

.formInput {
  font-family: "new-order", sans-serif;
  color: #70657c;
  padding: 0.5rem;
  border: 1px solid #ab9bbc;
}

.formInput:focus,
.productTypeDropDown:focus {
  outline: 3px solid #80738d;
}

.newProduct {
  font-family: "new-order", sans-serif;
  color: #4c5b2fa3;
  font-size: 1.5rem;
  font-style: italic;
}

.deleteEditButtonsDiv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.edit,
.delete {
  border: none;
  border-radius: 50px;
  background-color: #4c5b2fa3;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 6rem;
}

.edit:hover,
.delete:hover {
  cursor: pointer;
  background-color: #4c5b2f;
}

.newProductParentDiv,
.editProductParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newProduct,
#editProduct {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 0.5rem;
}

.addProductSubmit,
.editProductSubmit,
.cartRemove {
  border: none;
  border-radius: 50px;
  background-color: #ab9bbc;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 7rem;
}

.formLabelPadded {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  color: #ab9bbc;
  padding-top: 1.5rem;
}

.formButton:hover,
.addProductSubmit:hover,
.editProductSubmit:hover {
  cursor: pointer;
  background-color: #80738d;
}

.addProductH2,
.editProductH2 {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  color: #80738d;
}

.currEditProduct {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  color: #80738d;
}

.cartParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allCartProductsParentDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartProductParentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartProductInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.qtyButtonPurple {
  border: 2px solid #ab9bbc;
  border-radius: 50px;
  width: 5rem;
  height: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.qtyButtonPlusMinusPurple {
  border: none;
  color: #ab9bbc;
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  background-color: #ffffff;
}

.qtyButtonPlusMinusPurple:hover {
  cursor: pointer;
}

.qtyTextPurple {
  color: #ab9bbc;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.productNameSingleProductPurple {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ab9bbc;
  margin: 0;
}

.productPricePurple {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ab9bbc;
  margin: 0;
}

.cartTotalDiv {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.cartTitleText {
  font-family: "blenny", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #ab9bbc;
  letter-spacing: 0.5rem;
  margin: 0;
  text-decoration: underline;
}

.cartTotalDarkPurple {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #70657c;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkoutButton {
  border: none;
  border-radius: 50px;
  background-color: #70657c;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 7rem;
}

.checkoutButton:hover {
  cursor: pointer;
  background-color: #ab9bbc;
}

.cartRemove:hover,
.backToHomeButton:hover {
  cursor: pointer;
  background-color: #70657c;
}

.cartDivider {
  /* size: 10px;
  color: #ab9bbc; */
  width: 40%;
}

.confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.confirmationTitleText {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ab9bbc;
  margin: 0;
}

.confirmationSubText {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #70657c;
  margin: 0;
}

.confirmationOrderNum {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #70657c;
  margin: 0;
}

.backToHomeButton {
  border: none;
  border-radius: 50px;
  background-color: #ab9bbc;
  padding: 0.75rem;
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  width: 10rem;
}

.productTypeDropDown {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  color: #70657c;
}

.homeImage {
  width: 800px;
  padding: 0;
}

.confirmImage {
  width: 200px;
  padding: 0;
}

.profileParentDiv,
.userListParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.profileTitleText {
  font-family: "new-order", sans-serif;
  text-decoration: underline;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ab9bbc;
  margin: 0;
}

.profileSubText,
.userListNames {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ab9bbc;
  margin: 0;
}

.viewAllUsers {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ab9bbc;
  margin: 0;
  font-style: italic;
}

.userListLi {
  color: #ab9bbc;
}
