a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: #e26969;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navLink {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #4c5b2f;
}

.navLink:hover {
  font-family: "new-order", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
}

.homePageParentDiv {
  display: flex;
  justify-content: center;
}

.homeTitleText {
  font-family: "blenny", sans-serif;
  font-weight: 900;
  font-size: 7rem;
  color: #4c5b2f00;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 1px #4c5b2f;
  text-shadow: 30px 30px #4c5b2f;
  margin-top: 0;
}

.productListParentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
}

#productsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.productInList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  border: 2px solid #4c5b2fa3;
  padding: 1rem;
}

.productNameProductList {
  font-family: "new-order", sans-serif;
  font-weight: 700;
  color: #4c5b2fa3;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.productListImg {
  width: 250px;
}

.productListHeader {
  font-family: "Sarina", cursive;
  color: #4c5b2f;
  font-size: 3rem;
}

.productNameProductList:hover {
  color: #4c5b2f;
}
